
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #111, #000);
    font-family: Arial, sans-serif;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 18px 40px;
    background: #0b0c0e;
}

.logo img {
    width: 160px;
}

.navbar-left {
    display: flex;
    align-items: flex-end;
    gap: 32px;
}

.nav-block {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.explore-label {
    font-size: 11px;
    font-weight: bold;
    color: #f4d03f;
    letter-spacing: 1px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 22px;
}

.nav-links li {
    font-size: 16px;
    cursor: pointer;
    color: #ffffff;
}

.right-nav {
    display: flex;
    align-items: center;
    gap: 16px;
}

.btn {
    border: none;
    cursor: pointer;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 4px;
}

.btn.create {
    background: #444857;
    color: white;
    font-size: 16px;
    padding: 20px 30px;
}

.btn.dark {
    background: #2c303a;
    color: white;
}

.btn.green {
    background: #47cf73;
    color: black;
    font-weight: bold;
}

.search {
  width: 20px;
  height: 20px;
  border: 3px solid #aaa;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  cursor: pointer;
  opacity: .6;
}

.search::after {
  content: "";
  width: 10px;
  height: 3px;
  background: #aaa;
  position: absolute;
  bottom: -4px;
  right: -6px;
  transform: rotate(45deg);
}

.login {
    background: #444857;
    color: white;
    font-size: 16px;
    padding: 20px 30px;
}

.signup {
    background: #444857;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 20px 30px;
}

.arrow-spark {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-right: 2px solid #c9c8c5; 
  border-bottom: 2px solid #c9c8c5;
  transform: rotate(45deg);
  margin-left: 6px;
  position: relative;
  top: -2px;
}

.arrow-green {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-right: 2px solid #47cf73;
  border-bottom: 2px solid #47cf73;
  transform: rotate(45deg);
  margin-left: 6px;
  margin-bottom: 2px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 60px;
}

.hero-text h1 {
    font-size: 38px;
    line-height: 1.25;
}

.hero-text p {
    margin-top: 25px;
    color: #cccccc;
    font-size: 18px;
    line-height: 1.5;
}

.buttons {
    margin-top: 30px;
    display: flex;
    gap: 20px;
}

.big {
    padding: 14px 28px;
    font-size: 18px;
}

.green {
    background: #47cf73;
    color: black;
}

.dark {
    background: #2b2c36;
    color: white;
}

.hero-image {
    width: 50%;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.hero-image img {
    width: 100%;
    max-width: 750px;
    opacity: 0.85;
    border-radius: 6px;
    margin-top: 50px;
}

.footer {
    margin-top: 0px;
    padding: 18px;
    background: #444857;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    color: #ccc;
}

.footer span {
    color: white;
    font-weight: bold;
}

.projects-title {
    position: absolute;
    top: 20px;     
    left: 0;     
    font-size: 22px;
    font-weight: bold;
    color: white;
    z-index: 10;  
}

.projects-title span {
    color: #4da3ff;
}